<p>This app was built to display some of the Node.js capabilities learned from the Node.js Essential Training course on LinkedIn Learning. 
The code from Node.js Essential Training has been altered to be used in a client side interface for an application.</p>